{{>header}}
INSCRIPTION:
</br></br>
<form class="box" action="/test/validationinscription" method="POST">
	Nom : 
	<input type="text" name="name" placeholder="Nom">
	</br></br>
	Prenom : 
	<input type="text" name="lastName" placeholder="Prenom">
	</br></br>
	Email : 
	<input type="text" name="email" placeholder="email">
	</br></br>
	Mot de passe : 
	<input type="password" name="password" placeholder="Mot de passe">
	</br></br>
	Numero de telephone : 
	<input type="text" name="mobile" placeholder="Numero de telephone">
	</br></br>
	<input type="submit" name="valider" value="s'inscrire">
</form>
{{>footer}}
